#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 0
}
.todo-filter {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 30px;
  align-items: center
 }
 .todo-item > p {
  color: #888;
  width: 200px
 }
 
 .todo-item div {
  color: #888;
  width: 200px
 }
 .todo_add {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  margin-top: 40px;
  height: 40px
 }
 .todo_add > input {
  width: 200px
 }